NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# MongoDB Database
MONGODB_URI=mongodb+srv://.....

# JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Cloudinary / Store images
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Tracking Pengunjung
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# GA4 Credentials Read data from GA4
GA4_PROPERTY_ID=
GA4_CLIENT_EMAIL=
GA4_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Resend Email Service
RESEND_API_KEY=
EMAIL_FROM="RMI Istiqomah <noreply@rmiistiqomah.web.id>"
EMAIL_REPLY_TO=alistiqomahrmi@gmail.com
APP_URL=http://localhost:3000
INVITATION_EXPIRES_HOURS=24

# API Jadwal Sholat dan Doa dari Equran API
PRAYER_TIMES_PROVINSI="Jawa Barat"
PRAYER_TIMES_KABKOTA="Kota Bogor"
EQURAN_BASE_URL=https://equran.id/api/v2
EQURAN_DOA_URL=https://equran.id/api/doa